@import "../../../main-styles.scss";
.main-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
  padding-top: 50px;
}

.notes-list {
  margin-top: 35px;
  margin-bottom: 70px;
}

app-note-card {
  display: block;
  margin-bottom: 25px;
}

.floating-add-button {
  position: fixed;
  bottom: 5px;
  width: 500px;
  border-radius: 0;
  box-shadow: 0 0 15px 5px rgba($color: $purple, $alpha: 0.2);
}
