<div class="main-container">
  <div class="search-bar-container">
    <div class="field">
      <p class="control has-icons-left">
        <input
          class="input"
          type="text"
          placeholder="Filter"
          (keyup)="filter($event.target.value)"
        />
        <span class="icon is-small is-left">
          <i data-feather="search"></i>
        </span>
      </p>
    </div>
  </div>

  <div class="notes-list" [@listAnim]>
    <app-note-card
      *ngFor="let note of filteredNotes"
      [note]="note"
      (delete)="deleteNote(note.id)"
      @itemAnim
    ></app-note-card>
  </div>
  <button class="button floating-add-button is-primary" routerLink="new">
    + Add
  </button>
</div>
