<div class="main-container">
  <div class="search-bar-container">
    <div class="field">
      <p class="control has-icons-left">
        <input class="input" type="text" placeholder="Filter" />
        <span class="icon is-small is-left">
          <i data-feather="search"></i>
        </span>
      </p>
    </div>
  </div>

  <div class="notes-list">
    <app-note-card title="title" body="body"></app-note-card>
    <app-note-card></app-note-card>
    <app-note-card></app-note-card>
  </div>
</div>
